

.reveal section img.noborder{
	border-width: 0;
	box-shadow: none;
}

.reveal section img {
	max-height: 500px;
	max-width: 80%;
}

div.halfblock{
	float: left;
	width: 45%;
	text-align: left;
	margin-right: 5%;
}

div.left-align{
	text-align: left;
}

.clear{
	clear: both;
}

.reveal h1 {
    font-size: 2em;
}

.reveal h2{
    font-size: 1.8em;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}



.reveal .class-materials__block {
	background-color: #fff;
	float: left;
	width: 50%;
	padding: 30px 10px;
	margin-top: 30px;
	margin-right: 30px;
}

.reveal .class-materials__block:last-child {
	margin-right: 0px;
}

.class-materials__block ul{
	font-size: 0.9em;
}

.reveal section img {
	border: none;
}

.reveal ul li {
	line-height: 1.4;
}

.reveal section ul li:last-child {
	margin-bottom: 0px;
}

.reveal small {
	font-style: italic;
}

.reveal ul.small, .reveal ol.small {
	font-size: 0.8em;
	margin: 20px auto 30px auto;
	padding-left: 60px;
}

.reveal p {
	margin-bottom: 20px;
}

.reveal .code-fragment code{
  display: inline-block;
  padding: 5px 15px;
	background-color: white;
}

.reveal pre code {
	padding: 10px 20px;
}

.reveal ul.bulletless {
	list-style-type: none !important;
}

/*********************************************
* OVERRIDES
**********************************************/
.left-align{text-align:left}
.right-align{ text-align:right}
.left{float:left}
.right{float:right}
.clear{clear:both}
.blue{color:#00C9D6 }
.green{color:#92BB44}
.yellow{color:#EDAB23}
.pink{color:#F05B62}
.red{color:#8B0036}
.white{color:#FFFFFF}