@import url('https://fonts.googleapis.com/css?family=Delius+Swash+Caps|Grand+Hotel|Lora');

body {
  background-image: url('images/regal.png');
  font-family: 'Lora', serif;
  color: #263739;
  margin: 0px;
}

.wrapper{
  width: 100%;
  max-width: 900px;
  margin: auto;
}

nav{
  text-align: center;
  margin: 0px;
}

#pgheader{
  background-color: rgba(252, 224, 116, 0.68);
  border-bottom: 1px solid rgb(205, 172, 45);
  padding-top: 10px;
  padding-bottom: 20px;
}

/*------------- LINK STYLES */

a:link{
  color: #173e43;
  padding: 5px 10px;
}

a:visited{
  color: #173e43;
}

a:hover{
  text-decoration: none;
  color: #0389D4;
  background-color: rgba(254, 247, 219, 0.68);
}

a:active{
  text-decoration: none;
  color: #C2781E;
}
/*------------- END LINK STYLES */

h1, h2, h3{
  color: #086575;
  font-weight: 400;
}

h1{
  font-family: 'Delius Swash Caps', cursive;
  font-size: 2.2rem;
  text-align: center;
  color: #C2781E;
}

h2{
  font-family: 'Delius Swash Caps', cursive;
  font-size: 4rem;
  text-align: center;
}

h3{
  font-family: 'Grand Hotel', cursive;
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 50px;
}

#hero_img{
  display: block;
  margin: 50px auto;
  width: 50%;
}

#hero_img:hover{
  cursor: zoom-in;
}

p{
  line-height: 140%;
}

header p{
  font-size: 1.3rem;
  padding: 20px 90px;
}

.group{
  background-color: rgba(151, 240, 211, 0.56);
  border: 1px solid rgb(106, 212, 177);
}

#history .group{
  padding: 20px 30px;
}

#history h3{
  text-align: center;
}

#history p{
  margin: 25px auto;
}

p em{
  text-decoration: underline double;
  color:#F2249F;
}

p em:hover{
  cursor: help;
}

.highlight{
  background-color: #FFF1BA;
}

.ingredients{
  font-size: 200%;
}

li{
  line-height: 160%;
}

ul li{
  list-style-type: circle;
}

footer{
  text-align: center;
  margin: 50px auto 10px auto;
}

/* Using an image as a link that changes on hover */

a#roll_img{
  display: block;
  width: 500px;
  height: 320px;
  margin: auto;

  background-image: url('images/roll_01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease;
}

a#roll_img:hover{
  background-image: url('images/roll_02.jpg');
  transition: background-image 0.3s ease;
}

/* */