@import url('https://fonts.googleapis.com/css?family=Delius+Swash+Caps|Grand+Hotel|Lora');

body {
  background-image: url('images/regal.png');
  font-family: 'Lora', serif;
  color: #263739;
}

nav{
  text-align: center;
}

#pgheader{
  background-color: rgba(252, 224, 116, 0.68);
}

a{
  color: #173e43;
}

h1, h2, h3{
  color: #086575;
  font-weight: 400;
}

h1{
  font-family: 'Delius Swash Caps', cursive;
  font-size: 2.2rem;
  text-align: center;
  color: #C2781E;
}

h2{
  font-family: 'Delius Swash Caps', cursive;
  font-size: 4rem;
  text-align: center;
}

h3{
  font-family: 'Grand Hotel', cursive;
  font-size: 2rem;
}

#hero_img{
  border: 4px double #C2781E;
  border-radius: 60px;
  margin: auto;
  display: block;
}

p{
  line-height: 140%;
}

header p{
  font-size: 1.3rem;
}

.group{
  background-color: rgba(151, 240, 211, 0.56);
}

p em{
  text-decoration: underline double;
  color:#F2249F;
}

.highlight{
  background-color: #FFF1BA;
}

li{
  line-height: 160%;
}

ul li{
  list-style-type: circle;
}

footer{
  text-align: center;
}